<!-- components/navbar.html -->
<nav class="navbar">
  <div class="logo">
    <a href="#home">
      <img src="../assets/images/travel-ico.png" alt="Travel Icon" class="logo-icon">
      GAP Booking
    </a>
  </div>
  <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact Us</a></li>
  </ul>
  <div class="search-bar">
      <input type="text" placeholder="Search..." id="search-input">
      <button id="search-button">Search</button>
  </div>
</nav>
