/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  margin-top: 60px; /* Ajusta según la altura del navbar */
}

body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 30%, transparent 100%), url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  padding: 40px 50px; /* Espaciado uniforme en todas las secciones */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

section h1, section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 800px; /* Asegurar que el texto no sea demasiado ancho */
}

/* Social */
.social-icons {
  position: fixed;
  left: 40px; /* Mueve un poco más a la izquierda los íconos y la línea */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la línea y los íconos */
  gap: 20px;
  z-index: 1000; /* Asegura que los íconos estén siempre por encima del contenido */
}

.vertical-line {
  width: 2px;
  height: 200px; /* Ajusta la altura para centrarla mejor con los íconos */
  background-color: white; /* Puedes ajustar el color según necesites */
  margin-bottom: 20px; /* Espacio entre la línea y el primer ícono */
}

.social-icon img {
  width: 30px; /* Tamaño de los íconos */
  height: auto;
  filter: invert(100%); /* Hace que los íconos sean blancos, útil si están en un fondo oscuro */
  transition: transform 0.3s ease;
}

.social-icon img:hover {
  transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}
/* Navbar styles */
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 30px;  /* Ajusta el tamaño del ícono según necesites */
  margin-right: 10px;  /* Espacio entre el ícono y el texto */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté sobre otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar un efecto de profundidad */
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Ajusta el ancho de la barra */
  height: 40px; /* Ajusta la altura de la barra */
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 5px 15px; /* Reduce el padding interno */
  border: none;
  outline: none;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
  border-radius: 25px 0 0 25px;
}

.search-bar input[type="text"]::placeholder {
  color: #aaa;
  font-size: 0.8rem; /* Reduce el tamaño de la letra del placeholder */
}

.search-bar .search-btn,
.search-bar .clear-btn {
  background-color: #008080; /* Color del botón */
  color: white;
  padding: 0 15px; /* Reduce el padding horizontal */
  border: none;
  font-size: 0.9rem; /* Reduce el tamaño de la letra */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0 20px 20px 0;
  height: 100%; /* Asegura que los botones tengan la misma altura que el input */
}

.search-bar .clear-btn {
  background-color: #005f5f; /* Color del botón de limpiar */
  border-radius: 0 20px 20px 0;
}

.search-bar .search-btn:hover,
.search-bar .clear-btn:hover {
  background-color: #006666; /* Color de hover */
}
/* Home styles */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.home-content {
  max-width: 800px;
}

.home-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.btn-book-now {
  background-color: #00A896;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.btn-book-now:hover {
  background-color: #028090;
}

/* About Us */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.about-content {
  max-width: 800px;
}

.team-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
}

.team-header {
  flex: 0 0 20%; /* El ancho del encabezado 'Our Team' */
  text-align: left;
}

.team-header h2 {
  font-size: 3rem;
}

.team-members {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.team-member {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.team-member h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.team-member p {
  font-size: 1rem;
  margin: 5px 0;
}

.team-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.role-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.role-btn:hover {
  background-color: #0056b3;
}

.history-section {
  margin-top: 40px;
  text-align: left;
  max-width: 1200px;
}

.history-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.history-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Estilo para la sección Our Location */
.location-section {
  margin-top: 40px;
  text-align: left;
  max-width: 1200px;
}

.location-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.location-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.location-images img {
  width: 48%;
  height: auto;
  border-radius: 10px;
}

/* Contact Us */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.contact-content {
  max-width: 800px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contact-header {
  flex: 0 0 30%;
  margin-right: 50px;
}

.contact-header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.submit-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Contenedor para los resultados de la búsqueda */
.time-box {
  background-color: #008080;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  font-size: 0.5rem;
}

#search-results {
  display: none;
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior según la altura del navbar */
  left:50%;
  transform: translateX(-50%);
  width: 60%; /* Ajusta el ancho según lo necesites */
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
}

.city-box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.city-box img {
  width: 120px; /* Ajusta el tamaño de la imagen */
  height: auto;
  border-radius: 8px;
}

.city-box h3 {
  margin: 0 0 5px;
  font-size: 1.2rem;
}

.city-box p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
  flex: 1;
  margin-left: 10px;
}

.visit-btn {
  background-color: #008080;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.visit-btn:hover {
  background-color: #005f5f;
}
